body {
    background: url(../images/fire_flower.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content {
    min-height: calc(100vh - 30px);
}
.content_mask {
    background: rgba(255,255,255,0.9);
}

.site-login {
    margin: 30vh auto;
    width: 40%;
    color: #7d7d7d;
}
.site-login .modal-dialog {
    width: 800px;
}

.forgot {
    cursor: pointer;
    font-size: 50%;
}

.btn-grey {
    background-color: #222;
    color: #7d7d7d;
    border: 1px solid #7d7d7d;
}

.content > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 30px;
    background-color: #222;
    color: #7d7d7d;
    border-top: 1px solid #7d7d7d;
    padding-top: 4px;
}
.footer p {
    margin: 0;
}
.footer .copy {
    position: relative;
    top: -1px;
}