/*---------------------------------------- header start ----------------------------------------*/
.navbar-nav.navbar-right {
    margin: 20px 0;
}

.navbar-inverse {
     background-color: transparent;
     border-color: transparent;
}

.navbar-brand {
    height: 100%;
}

#logo {
    background: url(/images/logo_white.png) no-repeat;
    width: 260px;
    height: 47px;
}

.navbar-inverse .navbar-nav > li > a {
    position: relative;
    display: block;
    padding-top: 12px;
    padding-bottom: 11px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

li.dropdown:hover .dropdown-menu {
    display: block;
}

#contact_button {
    border: 1px solid white;
    border-radius: 3px;
}
#contact_button:hover a{
    background: white;
    color: #234;
    transition: .5s;
}
/*---------------------------------------- header end ----------------------------------------*/


/*---------------------------------------- content start ----------------------------------------*/
.content {
    min-height: calc(100vh - 393px);
}

.first {
    padding-top: 80px;
    min-height: calc(100vh - 393px);
}
.main_page {
    background: black url('/images/space_bg.jpg');
}

.site-index.main{
    color: white;
}
/*---------------------------------------- content end ----------------------------------------*/


/*---------------------------------------- footer start ----------------------------------------*/
.footer {
    padding-top: 36px;
    background-color: #3d3c42;
    color: #b3b3b4;
    line-height: 2;
    height: 393px;
}
.footer_phones {
    padding-top: 10px;
}
.footer_address {
    padding: 15px 0;
}
.footer_title {
    font-weight: bold;
    text-transform: uppercase;
}
.footer_list .main {
    min-width: 260px;
}
.footer_list .col-md-2 {
    width: 18.5%;
}
.footer a {
    color: #b4c3a8;
}
.footer a:hover, .footer a:visited {
    color: #84a580;
}
.footer_copy {
    margin-top: 37px;
    padding-top: 21px;
    padding-bottom: 20px;
    line-height: 24px;
    color: #89898b;
    text-align: center;
    background-color: #2d2c31;
}
/*---------------------------------------- footer start ----------------------------------------*/
