/*---------------------------------------- header start ----------------------------------------*/
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid transparent;
    padding: 20px 0;
    transition: all .5s ease;
}
header.small_header {
    background: white;
    border-bottom: 1px solid #f1f1f1;
    padding: 7px 0 5px;
    transition: all .5s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
header .logo,
footer .logo {
    background: url(/images/logo_white.png) no-repeat;
    width: 260px;
    height: 47px;
}
header.small_header .logo {
    background: url(/images/logo.png) no-repeat;
    width: 260px;
    height: 47px;
}

.top_menu {
    float: right;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.small_header .top_menu {
    padding: 2px 0;
}
.top_menu > li {
    float: left;
    margin: 0 10px;
}

.top_menu > li > a {
    padding: 8px 10px 7px;
    color: white;
}
.top_menu > li > a:hover {
    background: transparent;
}
.top_menu > li > a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: white;
    transition: width .2s ease-in-out;
}
.top_menu > li > a:hover:after,
.top_menu > li > a:focus:after,
.top_menu > li.active > a:after {
    width: 100%;
}
.small_header .top_menu > li.active > a {
    color: #84a580;
}
.small_header .top_menu > li:hover > a:after,
.small_header .top_menu > li.active > a:after {
    background-color: #84a580;
}
.top_menu > li#contact_button > a:after {
    height: 0;
}

.small_header .top_menu > li > a,
li.dropdown:hover .dropdown-menu a{
    color: #39675a;
}

#contact_button {
    border: 1px solid white;
    border-radius: 2px;
}
#contact_button:hover a{
    border-radius: 2px;
    background: white;
    color: #39675a;
    transition: .5s;
}
.small_header #contact_button {
    border: 1px solid #84a580;
}
.small_header #contact_button a {
    color: #84a580;
}
#contact_button:hover a {
    background: white;
    color: #39675a;
    transition: .5s;
}
.small_header #contact_button:hover a {
    background: #84a580;
    color: white;
    transition: .5s;
}

li.dropdown:hover .dropdown-menu {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
li.dropdown:hover .dropdown-menu a {
    padding: 10px 20px;
}
li.dropdown:hover .dropdown-menu a:hover {
    background: #39675a;
    color: white;
}
li.dropdown:hover .dropdown-menu .active a {
    background: #84a580;
    color: white;
}
/*---------------------------------------- header end ----------------------------------------*/

/*---------------------------------------- content start ----------------------------------------*/
main {
    min-height: calc(100vh - 360px);
}

.first {
    padding-top: 91px;
    min-height: calc(100vh - 360px);
    position: relative;
    /*background: #39675a;*/
    color: white;
}
.first h1 {
    margin: 200px auto;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5)
}

.first_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: hidden;
}
.view_project h1 {
    margin: 100px auto 50px;
}
.project_engine,
.project_techlist {
    text-align: center;
}
.project_tech {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 15px 15px 0;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #39675a;
}
.related_tech {
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px 10px 0;
    background: #39675a;
    border: 1px solid #39675a;
    border-radius: 2px;
    color: white;
}
.project_pictures_main img {
    width: 100%;
}
.project_pictures img {
    width: 40%;
    margin: 0 15px 15px 0;
}
.project_pictures_main img:hover,
.project_pictures img:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.related_projects {
    margin: 0 0 -30px;
}
.related_projects .item {
    position: relative;
}
.related_projects .item .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: hidden;
}
.related_projects .item_box {
    margin: 0 auto;
    padding: 30px;
    width: 60%;
    background: white;
    filter: blur(0);
}
.related_projects .carousel-inner > .item {
    padding: 50px 0;
}
.related_projects .carousel-indicators {
    bottom: 1px;
}
.related_left,
.related_right {
    float: left;
    width: 50%;
    height: 100%;
}
.related_right img {
    float: right;
    width: 100%;
}
a.read_more {
    border: 2px solid #39675a;
    border-radius: 2px;
    color: #39675a;
    display: block;
    padding: 5px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 30px auto 10px;
}
a.read_more:hover {
    background: #39675a;
    color: white;
    transition: .5s;
}

.main_page {
    background: #39675a url('/images/bg/space_bg.jpg') center no-repeat;
}

.service {
    display: block;
    background: #fcfcfc;
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.15);
    text-align: center;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    padding: 76px 20px 80px;
}
.poc {
    background: black url('/images/bg/poc1.jpg') center no-repeat;
}

.poc_box {
    text-align: center;
    min-height: 200px;
    margin-bottom: 20px;
}
.poc_box h3 {
    display: inline-block;
    color: #39675a;
}
.poc_box img {
    max-width: 400px;
    max-height: 100px;
    margin-bottom: 10px;
}
blockquote {
    border-left: 2px solid #39675a;
}
.quote_source {
    color: #39675a;
    text-align: right;
}

.favorite_works {
    text-align: center;
    background: white;
}
.favorite_works .green_header {
    color: #84a580;
}
.favorite_works_box {
    display: flex;
}
.favorite_works_box .favorite_work {
    display: inline-block;
    width: 33.333333333%;
}

.call_to_action {
    background: #39675a;
    color: white;
    text-align: center;
}
.call_to_action a.contact_button {
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 20px auto 30px;
}
.call_to_action a.contact_button:hover {
    color: #39675a;
    background: white;
    transition: .5s;
}

/*todo: remove this 2 in portfolio*/
.block-item {
    display: table;
    border: 3px solid;
    border-color: #24C619;
    padding: 20px 50px;
    margin-top: 20px;
    width: 92%;
    position: relative;
}

.block-item .title {
    background: linear-gradient(to top, green, #24C619);
    color: #fff;
    padding: 5px 20px;
    margin: -35px 0px 20px;
    position: absolute;
    min-width: 20%;
}
.block-item img {
    margin: 10px 20px 10px 0;
}
/*---------------------------------------- content end ----------------------------------------*/

/*---------------------------------------- footer start ----------------------------------------*/
footer {
    padding-top: 20px;
    background-color: #3d3c42;
    color: #b3b3b4;
    line-height: 2;
    height: 360px;
}
footer a,
footer a:active,
footer a:visited {
    color: #b4c3a8;
}
footer a:hover {
    color: #84a580;
}

.footer_phones {
    padding-top: 10px;
}
.footer_address {
    padding: 15px 0;
}
.footer_title {
    font-weight: bold;
    text-transform: uppercase;
}
.footer_list .main {
    min-width: 260px;
}
.footer_list .col-md-2 {
    width: 18.5%;
}
.footer_copy {
    margin-top: 20px;
    padding-top: 21px;
    padding-bottom: 20px;
    line-height: 24px;
    color: #89898b;
    text-align: center;
    background-color: #2d2c31;
}
/*---------------------------------------- footer start ----------------------------------------*/
