.first {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 105px 0 90px;
  min-height: 33vh;
  position: relative;
  background: #39675a;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }

  h1 {
    margin: 64px auto 0;
    text-transform: uppercase;
  }
}

.contact_page form {
  width: 60%;
  margin: auto;
}

.portfolio {
  a {
    color: white;
    text-decoration: none;
    margin: 30px 5px;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 400px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);

    .item_desc {
      display: none;
    }

    &:hover {
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(57, 103, 90, 0.8);
      }

      .item_desc {
        display: block;
        width: 100%;
        padding: 0 32px;
        z-index: 1;
      }
    }
  }

  .related_tech {
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px 10px 0;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #39675a;
  }

  .read_more {
    display: block;
    width: 150px;
    padding: 0 10px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
  }
}

.first_bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(10px);
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
  }
}

.view_project h1 {
  margin: 100px auto 50px;
}

.project_engine, .project_techlist {
  text-align: center;
}

.project_engine {
  img {
    filter: drop-shadow(1px 1px 0 white) drop-shadow((-1px) -1px 0 white);
  }

  .engine {
    font-size: 48px;
    font-weight: bold;
  }
}

.project_tech {
  display: inline-block;
  padding: 10px 15px;
  margin: 15px 15px 15px 0;
  background: white;
  border: 1px solid white;
  border-radius: 2px;
  color: #39675a;
}

.related_tech {
  display: inline-block;
  padding: 0 10px;
  margin: 0 15px 10px 0;
  background: #39675a;
  border: 1px solid #39675a;
  border-radius: 2px;
  color: white;
}

.project_pictures_main img {
  width: 100%;
  margin: 0 auto 15px;
  border: 1px solid white;
}

.project_pictures {
  text-align: center;

  img {
    max-width: 40%;
    max-height: 200px;
    margin: 0 15px 15px 0;
    border: 1px solid white;
  }
}

.project_pictures_main img:hover, .project_pictures img:hover {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.related_projects {
  margin: 0;
  padding: 0;
}

#related_slider > h3 {
  color: #fff;
  position: absolute;
  top: 24px;
  margin: auto;
  width: 100%;
  z-index: 2;
}

.carousel {
  background: #39675a;
}

.carousel-control {
  z-index: 1;
}

.related_projects {
  .item .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      z-index: 1;
      top: 0;
    }
  }

  .item_box {
    margin: 0 auto;
    padding: 30px;
    width: 60%;
    background: white;
    filter: blur(0);
  }

  .carousel-inner > .item {
    padding: 80px 0 64px;
  }

  .carousel-indicators {
    bottom: 8px;
  }
}

.related_left {
  float: left;
  width: 50%;
  height: 300px;
}

.related_right {
  float: left;
  width: 50%;
  height: 300px;

  a {
    display: block;
    height: 100%;
  }
}

a {
  &.read_more {
    border: 2px solid #39675a;
    border-radius: 2px;
    color: #39675a;
    display: block;
    padding: 5px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 30px auto 10px;

    &:hover {
      background: #39675a;
      color: white;
      transition: 0.5s;
    }
  }

  &.service {
    display: block;
    background: #fcfcfc;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    padding: 50px 25px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #234;
    height: 400px;
    position: relative;

    &:hover {
      color: white;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.service {
  .icon {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
  }

  &.web .icon {
    background: url("../images/icons/internet.png");
  }

  &.mobile .icon {
    background: url("../images/icons/smartphone.png");
  }

  &.help .icon {
    background: url("../images/icons/help.png");
  }

  &.wp .icon {
    background: url("../images/icons/wordpress-logo.png");
  }

  &.full_stack .icon {
    background: url("../images/icons/settings.png");
  }

  &.cloud .icon {
    background: url("../images/icons/cloud.png");
  }

  &.web:hover {
    background: url("../images/bg/solutions/advanced_web_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/internet_w.png");
    }
  }

  &.mobile:hover {
    background: url("../images/bg/solutions/mobile_solutions_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/smartphone_w.png");
    }
  }

  &.help:hover {
    background: url("../images/bg/solutions/help_support_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/help_w.png");
    }
  }

  &.wp:hover {
    background: url("../images/bg/solutions/wordpress_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/wordpress-logo_w.png");
    }
  }

  &.full_stack:hover {
    background: url("../images/bg/solutions/development_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/settings_w.png");
    }
  }

  &.cloud:hover {
    background: url("../images/bg/solutions/cloud_small.jpg") center no-repeat;
    background-size: cover;

    .icon {
      background: url("../images/icons/cloud_w.png");
    }
  }

  h4 {
    font-size: 30px;
    margin: 20px 0;
    color: #84a580;
    text-transform: uppercase;
    position: relative;
  }
}

a.service:hover h4 {
  color: white;
}

.service .desc {
  display: block;
  position: relative;
}

.favorite_works a.check_all {
  border: 2px solid #39675a;
  border-radius: 2px;
  color: #39675a;
  display: block;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  max-width: 300px;
  margin: 20px auto 30px;

  &:hover {
    color: white;
    background: #39675a;
    transition: 0.5s;
  }
}

.team_flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.team_box {
  text-align: center;
  margin: 32px;
}

.img {
  margin: auto;
  width: 150px;

  img {
    width: 100%;
    border-radius: 50%;
  }
}

.name {
  text-transform: uppercase;
  color: #39675a;
}

.position {
  text-transform: capitalize;
  color: #84a580;
}

.poc_box {
  text-align: center;
  min-height: 200px;
  margin-bottom: 20px;

  h3 {
    display: inline-block;
    color: #39675a;
  }

  img {
    max-width: 400px;
    max-height: 100px;
    margin-bottom: 10px;
  }
}

blockquote {
  border-left: 2px solid #39675a;
}

.quote_source {
  color: #39675a;
  text-align: right;
}

.favorite_works {
  text-align: center;
  background: white;

  .green_header {
    color: #84a580;
  }
}

.favorite_works_box {
  display: flex;

  .favorite_work {
    display: inline-block;
    width: 33.333333333%;
  }
}

.call_to_action {
  background: #39675a;
  color: white;
  text-align: center;

  a.contact_button {
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 20px auto 30px;

    &:hover {
      color: #39675a;
      background: white;
      transition: 0.5s;
    }
  }
}

.block-item {
  display: table;
  border: 3px solid #39675a;
  padding: 20px 50px;
  margin-top: 20px;
  width: 92%;
  position: relative;

  .title {
    background: #39675a;
    color: #fff;
    padding: 5px 20px;
    margin: (-35px) 0 20px;
    position: absolute;
    min-width: 20%;
  }

  img {
    margin: 10px 20px 10px 0;
  }
}

.color_example {
  max-width: 100%;
  margin: 0 16px 16px 0;
}

.color_box {
  width: 100px;
  border: 1px solid lightgrey;
  text-align: center;
  float: left;
  margin: 0 5px 5px 0;
}

.color {
  height: 40px;
}

.color_code {
  padding: 8px;
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
  .first {
    padding: 105px 0 80px;

    h1 {
      font-size: 48px;
      margin: 30px auto 0;
    }
  }

  a.service {
    color: #fff;

    h4, .desc {
      color: #fff;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .service {
    &.web {
      background: url("../images/bg/solutions/advanced_web_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/internet_w.png");
      }
    }

    &.mobile {
      background: url("../images/bg/solutions/mobile_solutions_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/smartphone_w.png");
      }
    }

    &.help {
      background: url("../images/bg/solutions/help_support_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/help_w.png");
      }
    }

    &.wp {
      background: url("../images/bg/solutions/wordpress_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/wordpress-logo_w.png");
      }
    }

    &.full_stack {
      background: url("../images/bg/solutions/development_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/settings_w.png");
      }
    }

    &.cloud {
      background: url("../images/bg/solutions/cloud_small.jpg") center no-repeat;
      background-size: cover;

      .icon {
        background: url("../images/icons/cloud_w.png");
      }
    }
  }

  .portfolio a {
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(57, 103, 90, 0.8);
    }

    .item_desc, &:hover .item_desc {
      display: block;
      padding: 0 8px;
      text-align: center;
      width: 100%;
      z-index: 1;
    }
  }

  .related_projects .item_box {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .feedback_slider .item {
    min-height: 365px;
    padding: 40px 0;
  }

  .project_engine img {
    max-width: 100%;
  }

  .related_left, .related_right {
    width: 100%;
  }

  .captcha_box {
    margin-bottom: 15px;
  }

  .favorite_works a.check_all {
    color: white;
    background: #39675a;
  }

  .call_to_action a.contact_button {
    color: #39675a;
    background: white;
  }

  .poc_box img {
    max-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .contact_page form {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .first {
    padding: 98px 0 32px;

    h1 {
      font-size: 32px;
      margin: 16px auto 0;
    }
  }

  .feedback_slider .item {
    min-height: 540px;
    padding: 24px 0;
  }

  .feedback_author {
    width: 80%;
  }

  .project_engine {
    margin-bottom: 15px;
  }

  .related_left {
    height: 100%;
  }

  .related_right {
    height: 200px;
  }
}

@media screen and (max-width: 320px) {}
