header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid transparent;
  padding: 20px 0;
  transition: all 0.5s ease;

  &.small_header {
    background: white;
    border-bottom: 1px solid #f1f1f1;
    padding: 7px 0 5px;
    transition: all 0.5s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .logo {
    display: block;
    background: url("../images/logo_white.svg") top left no-repeat;
    background-size: contain;
    width: 260px;
    height: 64px;
    float: left;
  }

  &.small_header .logo {
    background: url("../images/logo.svg") top left no-repeat;
    background-size: contain;
    width: 260px;
    height: 50px;
  }
}

.mobile_menu {
  display: none;
}

.top_menu {
  float: right;
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
}

.small_header .top_menu {
  padding: 2px 0;
}

.top_menu > li {
  float: left;
  margin: 0 10px;

  > a {
    padding: 8px 10px 7px;
    color: white;

    &:hover {
      background: transparent;
    }

    &:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: white;
      transition: width 0.2s ease-in-out;
    }

    &:hover:after, &:focus:after {
      width: 100%;
    }
  }

  &.active > a:after {
    width: 100%;
  }
}

.small_header .top_menu > li {
  &.active > a {
    color: #84a580;
  }

  &:hover > a:after, &.active > a:after {
    background-color: #84a580;
  }
}

.top_menu > li#contact_button > a:after {
  display: none;
}

.small_header .top_menu > li > a, li.dropdown:hover .dropdown-menu a {
  color: #39675a;
}

#contact_button a {
  border: 1px solid white;
  border-radius: 2px;

  &:hover {
    background: white;
    color: #39675a;
    transition: 0.5s;
  }
}

.small_header #contact_button a {
  border: 1px solid #84a580;
  border-radius: 2px;
  color: #84a580;

  &:hover {
    background: #84a580;
    color: white;
    transition: 0.5s;
  }
}

li.dropdown:hover .dropdown-menu {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;

  a {
    padding: 10px 20px;

    &:hover {
      background: #39675a;
      color: white;
    }
  }

  .active a {
    background: #84a580;
    color: white;
  }
}

#lang {
  position: absolute;
  z-index: 999;
  top: 80px;
  right: 0;
}

a.lang_box {
  display: block;
  text-decoration: none;
  font-size: 16px;
  border: 2px solid #39675a;
  border-radius: 2px;
  border-right: 0;
  padding: 0 8px;
  margin: 2px 0;
  cursor: pointer;
  width: 100px;
  position: relative;
  left: 71px;

  &:hover {
    color: #84a580;
    border: 2px solid #84a580;
    border-right: 0;
    left: 0;
    transition: 0.5s;
  }

  &.active {
    color: #84a580;
    border: 2px solid #84a580;
  }
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
  header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:before, &:after {
      content: none;
    }
  }

  .mobile_menu {
    display: block;
    color: #fff;
    float: right;
    position: relative;
    top: -6px;

    span {
      display: block;
      background: white;
      width: 24px;
      height: 3px;
      margin: 7px 0;
    }
  }

  .small_header .mobile_menu {
    top: 0;

    span {
      background: #39675a;
    }
  }

  .top_menu {
    display: none;

    &.active {
      display: block;
      position: fixed;
      background: rgba(0, 0, 0, 0.9);
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 16px 8px;
      text-align: right;
      font-size: 24px;
    }

    > li {
      float: none;
      margin: 0 0 8px;
    }
  }

  .dropdown-menu {
    position: relative;
    display: block;
    float: none;
    text-align: right;
    background: transparent;
    padding: 0 0 16px;

    > li > a {
      color: #fff;
      font-size: 24px;
      padding: 4px 16px;

      .active > a {
        background-color: #84a580;
        display: inline-block;

        &:hover, &:focus {
          background-color: #84a580;
          display: inline-block;
        }
      }
    }
  }

  .top_menu > li > a {
    &:after {
      display: none;
    }

    color: #84a580;
    display: inline-block;
    padding: 0 16px;
  }

  .small_header .top_menu > li > a, li.dropdown:hover .dropdown-menu a {
    color: #84a580;
    display: inline-block;
    padding: 0 16px;
  }

  .caret {
    display: none;
  }

  #contact_button a {
    padding: 4px 16px;
    border-color: #84a580;
    margin: 0 16px;
  }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 414px) {
  header {
    .logo {
      width: 253px;
      height: 63px;
    }

    &.small_header .logo {
      width: 253px;
      height: 49px;
    }
  }
}

@media screen and (max-width: 375px) {
  header {
    .logo {
      width: 231px;
      height: 57px;
    }

    &.small_header .logo {
      width: 231px;
      height: 45px;
    }
  }

  .dropdown-menu {
    padding: 0 0 8px;

    > li > a {
      padding: 0 16px;
    }
  }
}

@media screen and (max-width: 320px) {
  header {
    .logo {
      width: 191px;
      height: 47px;
    }

    &.small_header .logo {
      width: 191px;
      height: 37px;
    }
  }

  .dropdown-menu > li > a {
    font-size: 20px;
  }
}
