.login-page {
    background: url('/images/bg/fire_flower.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#admin_logo {
    background: url('/images/logo_admin.png') no-repeat;
    width: 326px;
    height: 58px;
    margin: auto;
}

.visible.fa {
    cursor: pointer;
    color: #337ab7;
}
.favorite.fa {
    cursor: pointer;
    color: #ffcc00;
}

.back_tech_logos {
    max-height: 21px;
}

.tech{
    display: inline-block;
    border: 2px solid #00a65a;
    background: #00a65a;
    color: white;
    border-radius: 3px;
    padding: 2px 8px;
    margin-right: 8px;
}

.tab-content {
    padding: 8px 8px 1px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-top: 0;
    background: white;
}
.cont_title{
    font-weight: bold;
}
.cont_text{
    padding: 0 8px;
    margin-bottom: 16px;
}

.images{
    text-align: center;
    border: 1px solid grey;
    padding: 16px;
}
.images img{
    margin: 16px;
    border: 4px solid transparent;
}
.images img.main{
    border-color: #ffcc00;
}
