@import "../../libs/slick/slick.scss";

.slider_box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100px;
  position: relative;
}

.slick-dots{
  position: absolute;
  bottom: 16px;
  list-style: none;
  left: 50%;
  width: 60%;
  padding-left: 0;
  margin: 0 0 0 -30%;
  text-align: center;
  li{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 4px;
    cursor: pointer;
    &.slick-active{
      width: 12px;
      height: 12px;
      margin: 3px;
      background-color: #fff;
    }
    button{
      display: none;
    }
  }
}

.next,
.prev{
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
  width: 15%;
  height: 100%;
  opacity: 0.5;
  cursor: pointer;
  &:after{
    content: "";
    display: block;
    position: absolute;
    background: url("../images/icons/slider_arr.png") center no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
  }
  &:hover{
    opacity: 0.9;
  }
}
.prev{
  left: 0;
  right: auto;
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
  &:after{
    transform: rotate(180deg);
  }
}

//main page slider ---------------------

.feedback_slider {
  background: black;
  position: relative;
  padding: 0;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

  $feedbacks: feed_1 feed_2 feed_3 feed_4;
  $i: 0;
  @each $feedback in $feedbacks {
    $i: $i + 1;
    .feedback.#{$feedback}{
      position: relative;
      background: url("../images/bg/feedback/feed_#{$i}.jpg") center;
      background-size: cover;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
  .slider_box{
    height: 340px;
  }
  .feedback_text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    position: relative;
  }
  .feedback_author {
    width: 30%;
    font-size: 90%;
    margin: 24px auto 16px;
    padding: 16px 0 0;
    text-align: center;
    position: relative;
    font-style: italic;
    border-top: 1px solid white;
  }
}

//portfolio slider ----------------------

.related_projects {
  margin: 0;
  padding: 0;
  position: relative;
  background: $dark_green;

  .project{
    position: relative;
    padding: 80px 0 64px;
    .bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      filter: blur(10px);
      overflow: hidden;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        z-index: 1;
        top: 0;
      }
    }

    .slider_box {
      margin: 0 auto;
      padding: 30px;
      width: 60%;
      background: white;
      align-items: flex-start;
      flex-direction: row;
    }

    .related_left {
      width: 50%;
      height: 300px;
      padding-right: 8px;
    }

    .related_right {
      width: 50%;
      height: 300px;
      margin-bottom: 80px;

      a {
        display: block;
        height: 100%;
      }
    }

    a{
      &.read_more {
        position: absolute;
        bottom: 0;
        border: 2px solid $dark_green;
        border-radius: 2px;
        color: $dark_green;
        display: block;
        padding: 5px 25px;
        text-transform: uppercase;
        text-decoration: none;
        width: 170px;
        margin: 30px auto;

        &:hover {
          background: $dark_green;
          color: white;
          transition: 0.5s;
        }
      }
    }
  }
}

.slider_title {
  color: #fff;
  position: absolute;
  top: 24px;
  margin: auto;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 1366px) {}

@media screen and (max-width: 1024px) {
  .next,
  .prev{
    width: 10%;
  }

  .feedback_slider{
    .feedback_text {
      width: 85%;
    }
  }

  .related_projects{
    .project{
      .slider_box{
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .related_projects{
    .project{
      .slider_box{
        flex-direction: column;
      }

      .related_left,
      .related_right {
        width: 100%;
        padding: 0;
      }

      a.read_more{
        left: 50%;
        margin-left: -85px;
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .next,
  .prev{
    &:after{
      width: 30px;
      height: 30px;
      margin-top: -15px;
      margin-left: -15px;
    }
  }

  .slick-dots{
    bottom: 8px;
  }

  .feedback_slider{
    font-size: 16px;
    .feedback_text {
      width: 75%;
    }
    .feedback_author{
      width: 60%;
    }

    .slider_box{
      height: 380px;
    }
  }

  .related_projects{
    .project{
      .slider_box{
        flex-direction: column;
        padding: 16px;
      }

      .related_left {
        height: 100%;
      }

      .related_right {
        height: 200px;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .feedback_slider{
    font-size: 15px;
  }

  .related_projects{
    .project{
      .slider_box{
        flex-direction: column;
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 320px) {}