@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: Avenir;
    src: url('../fonts/avenir-light.woff') format('truetype');
    font-weight: 400;
    font-style: normal
}

html,
body {
    height: 100%;
}

body {
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
    font-size: 19px;
    line-height: 1.57894737;
    color: #234;
    background-color: #eee;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased
}

p {
    margin: 0 0 16px;
}

/*---------------------------------------- header start ----------------------------------------*/

header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid transparent;
    padding: 20px 0;
    transition: all .5s ease;
}
header.small_header {
    background: white;
    border-bottom: 1px solid #f1f1f1;
    padding: 7px 0 5px;
    transition: all .5s ease;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
header .logo,
footer .logo {
    background: url('../images/logo_white.png') no-repeat;
    width: 260px;
    height: 47px;
}
header.small_header .logo {
    background: url('../images/logo.png') no-repeat;
    width: 260px;
    height: 47px;
}

.top_menu {
    float: right;
    position: relative;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    padding: 4px 0;
    text-decoration: none;
    text-transform: uppercase;
}
.small_header .top_menu {
    padding: 2px 0;
}
.top_menu > li {
    float: left;
    margin: 0 10px;
}

.top_menu > li > a {
    padding: 8px 10px 7px;
    color: white;
}
.top_menu > li > a:hover {
    background: transparent;
}
.top_menu > li > a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0;
    background-color: white;
    transition: width .2s ease-in-out;
}
.top_menu > li > a:hover:after,
.top_menu > li > a:focus:after,
.top_menu > li.active > a:after {
    width: 100%;
}
.small_header .top_menu > li.active > a {
    color: #84a580;
}
.small_header .top_menu > li:hover > a:after,
.small_header .top_menu > li.active > a:after {
    background-color: #84a580;
}
.top_menu > li#contact_button > a:after {
    display: none;
}

.small_header .top_menu > li > a,
li.dropdown:hover .dropdown-menu a{
    color: #39675a;
}

#contact_button a {
    border: 1px solid white;
    border-radius: 2px;
}
#contact_button a:hover {
    background: white;
    color: #39675a;
    transition: .5s;
}
.small_header #contact_button a {
    border: 1px solid #84a580;
    border-radius: 2px;
    color: #84a580;
}
.small_header #contact_button a:hover {
    background: #84a580;
    color: white;
    transition: .5s;
}

li.dropdown:hover .dropdown-menu {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}
li.dropdown:hover .dropdown-menu a {
    padding: 10px 20px;
}
li.dropdown:hover .dropdown-menu a:hover {
    background: #39675a;
    color: white;
}
li.dropdown:hover .dropdown-menu .active a {
    background: #84a580;
    color: white;
}

#lang {
    position: absolute;
    z-index: 999;
    top: 80px;
    right: 0;
}
a.lang_box {
    display: block;
    text-decoration: none;
    font-size: 16px;
    border: 2px solid #39675a;
    border-radius: 2px;
    border-right: 0;
    padding: 0 8px;
    margin: 2px 0;
    cursor: pointer;
    width: 100px;
    position: relative;
    left: 71px;
}
a.lang_box:hover {
    color: #84a580;
    border: 2px solid #84a580;
    border-right: 0;
    left: 0;
    transition: 0.5s;
}
a.lang_box.active {
    color: #84a580;
    border: 2px solid #84a580;
}
/*---------------------------------------- header end ----------------------------------------*/

/*---------------------------------------- content start ----------------------------------------*/

section {
    padding: 32px 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Avenir, Arial,Helvetica,sans-serif;
    font-weight: normal;
    text-align: center;
}
h1 {
    font-size: 60px;
    margin-top: 40px;
}
h2 {
    font-size: 50px;
    margin-top: 32px;
}
h3 {
    font-size: 40px;
    margin-top: 24px;
}

a,
a:visited {
    color: #39675a;
}
a:hover,
a:active {
    color: #84a580;
    text-decoration: none;
}

.alert_box {
    position: fixed;
    z-index: 1001;
    width: 80%;
    left: 10%;
    top: 10%;
    opacity: .9;
}
.alert {
    text-align: center;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.button,
a.button {
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 2px;
    display: inline-block;
    background: transparent;
}
.button:hover,
a.button:hover {
    color: white;
    transition: .5s;
}

.white_button,
a.white_button {
    color: white;
    border: 2px solid white;
}
.white_button:hover,
a.white_button:hover {
    color: #234;
    background: white;
}

.light_button,
a.light_button {
    color: #84a580;
    border: 2px solid #84a580;
}
.light_button:hover,
a.light_button:hover {
    background: #84a580;
}

.dark_button,
a.dark_button {
    color: #39675a;
    border: 2px solid #39675a;
}
.dark_button:hover,
a.dark_button:hover {
    background: #39675a;
}

.red_button,
a.red_button {
    color: #a94442;
    border: 2px solid #a94442;
}
.red_button:hover,
a.red_button:hover {
    background: #a94442;
}

.center {
    text-align: center;
}

/* ---------- 404 page start ---------- */

.error_page {
    padding: 64px;
}
/*todo: something fun*/

/* ---------- 404 page end ---------- */

.first {
    padding: 91px 0;
    min-height: 33vh;
    position: relative;
    background: #39675a;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.first:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.first h1 {
    margin: 64px auto 0;
    text-transform: uppercase;
}

/*------------------------- contact us start ------------------------------*/

.contact_page form {
    width: 60%;
    margin: auto;
}

/*------------------------- contact us end ------------------------------*/

/*------------------------- portfolio start ------------------------------*/

.portfolio a {
    color: white;
    text-decoration: none;
    margin: 30px 5px;
    position: relative;
    display: block;
}

.portfolio .item_image {
    height: 400px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.15);
}
.portfolio a .item_desc {
    display: none;
}
.portfolio a:hover .item_desc {
    display: block;
    padding: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: rgba(57, 103, 90, 0.8);
}
.portfolio .related_tech {
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px 10px 0;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #39675a;
}
.portfolio .read_more {
    display: block;
    width: 150px;
    padding: 0 10px;
    margin: 20px auto;
    text-align: center;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    text-transform: uppercase;
}
/*------------------------- portfolio end ------------------------------*/

.first_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: hidden;
}
.first_bg:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
}

.view_project h1 {
    margin: 100px auto 50px;
}
.project_engine,
.project_techlist {
    text-align: center;
}
.project_tech {
    display: inline-block;
    padding: 10px 15px;
    margin: 15px 15px 15px 0;
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #39675a;
}
.related_tech {
    display: inline-block;
    padding: 0 10px;
    margin: 0 15px 10px 0;
    background: #39675a;
    border: 1px solid #39675a;
    border-radius: 2px;
    color: white;
}
.project_pictures_main img {
    width: 100%;
}
.project_pictures img {
    width: 40%;
    margin: 0 15px 15px 0;
}
.project_pictures_main img:hover,
.project_pictures img:hover {
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

.related_projects {
    margin: 0 0 -32px;
}

.carousel{
    background: #39675a
}

.carousel-control{
    z-index: 1;
}

.related_projects .item .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    overflow: hidden;
}
.related_projects .item .bg:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1;
    top: 0;
}

.related_projects .item_box {
    margin: 0 auto;
    padding: 30px;
    width: 60%;
    background: white;
    filter: blur(0);
}
.related_projects .carousel-inner > .item {
    padding: 50px 0;
}
.related_projects .carousel-indicators {
    bottom: 1px;
}
.related_left,
.related_right {
    float: left;
    width: 50%;
    height: 300px;
}
.related_right a {
    display: block;
    height: 100%;
}
a.read_more {
    border: 2px solid #39675a;
    border-radius: 2px;
    color: #39675a;
    display: block;
    padding: 5px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 30px auto 10px;
}
a.read_more:hover {
    background: #39675a;
    color: white;
    transition: .5s;
}

/*------------------------ main page start --------------------------*/

a.service {
    display: block;
    background: #fcfcfc;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.15);
    text-align: center;
    overflow: hidden;
    padding: 50px 25px;
    margin-bottom: 30px;
    text-decoration: none;
    color: #234;
    height: 400px;
    position: relative;
}
a.service:hover {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    /*transition: .5s;*/
}
a.service:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.service .icon {
    width: 100px;
    height: 100px;
    margin: auto;
    position: relative;
}

.service.web .icon {
    background: url('../images/icons/internet.png');
}
.service.mobile .icon {
    background: url('../images/icons/smartphone.png');
}
.service.help .icon {
    background: url('../images/icons/help.png');
}
.service.qa .icon {
    background: url('../images/icons/like.png');
}
.service.full_stack .icon {
    background: url('../images/icons/settings.png');
}
.service.cloud .icon {
    background: url('../images/icons/cloud.png');
}
/* services hovers*/
.service.web:hover {
    background: url('../images/bg/solutions/advanced_web_small.jpg');
}
.service.web:hover .icon {
    background: url('../images/icons/internet_w.png');
}
.service.mobile:hover {
    background: url('../images/bg/solutions/mobile_solutions_small.jpg');
}
.service.mobile:hover .icon {
    background: url('../images/icons/smartphone_w.png');
}
.service.help:hover {
    background: url('../images/bg/solutions/help_support_small.jpg');
}
.service.help:hover .icon {
    background: url('../images/icons/help_w.png');
}
.service.qa:hover {
    background: url('../images/bg/solutions/quality_small.jpg');
}
.service.qa:hover .icon {
    background: url('../images/icons/like_w.png');
}
.service.full_stack:hover {
    background: url('../images/bg/solutions/development_small.jpg');
}
.service.full_stack:hover .icon {
    background: url('../images/icons/settings_w.png');
}
.service.cloud:hover {
    background: url('../images/bg/solutions/cloud_small.jpg');
}
.service.cloud:hover .icon {
    background: url('../images/icons/cloud_w.png');
}

.service h4 {
    font-size: 30px;
    margin: 20px 0;
    color: #84a580;
    text-transform: uppercase;
    position: relative;
}
a.service:hover h4 {
    color: white;
}
.service .desc {
    position: relative;
}

.favorite_works a.check_all {
    border: 2px solid #39675a;
    border-radius: 2px;
    color: #39675a;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 300px;
    margin: 20px auto 30px;
}
.favorite_works a.check_all:hover {
    color: white;
    background: #39675a;
    transition: .5s;
}

.feedback_slider {
    padding: 0;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.feedback_slider .item {
    padding: 64px 0;
}
.feedback_slider .item:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.feedback_text {
    width: 60%;
    margin: auto;
    text-align: center;
    position: relative;
}
.feedback_author {
    width: 30%;
    font-size: 90%;
    margin: 24px auto 0;
    padding: 16px 0;
    text-align: center;
    position: relative;
    font-style: italic;
    border-top: 1px solid white;
}
.feedback_author a {
    color: white;
}

/*------------------------ main page end --------------------------*/

/*------------------------ about page start --------------------------*/

.team_flex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.team_box{
    text-align: center;
    margin: 32px;
}

.img{
    margin: auto;
    width: 150px;
}
.img img{
    width: 100%;
    border-radius: 50%;
}

.name{
    text-transform: uppercase;
    color: #39675a;
}
.position{
    text-transform: capitalize;
    color: #84a580;
}

/*------------------------ about page end --------------------------*/

.poc {
    background: black url('../images/bg/poc1.jpg') center no-repeat;
}

.poc_box {
    text-align: center;
    min-height: 200px;
    margin-bottom: 20px;
}
.poc_box h3 {
    display: inline-block;
    color: #39675a;
}
.poc_box img {
    max-width: 400px;
    max-height: 100px;
    margin-bottom: 10px;
}
blockquote {
    border-left: 2px solid #39675a;
}
.quote_source {
    color: #39675a;
    text-align: right;
}

.favorite_works {
    text-align: center;
    background: white;
}
.favorite_works .green_header {
    color: #84a580;
}
.favorite_works_box {
    display: flex;
}
.favorite_works_box .favorite_work {
    display: inline-block;
    width: 33.333333333%;
}

.call_to_action {
    background: #39675a;
    color: white;
    text-align: center;
}
.call_to_action a.contact_button {
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    display: block;
    padding: 10px 25px;
    text-transform: uppercase;
    text-decoration: none;
    width: 170px;
    margin: 20px auto 30px;
}
.call_to_action a.contact_button:hover {
    color: #39675a;
    background: white;
    transition: .5s;
}

/*todo: remove this 2 in portfolio*/
.block-item {
    display: table;
    border: 3px solid #39675a;
    padding: 20px 50px;
    margin-top: 20px;
    width: 92%;
    position: relative;
}
.block-item .title {
    background: #39675a;
    color: #fff;
    padding: 5px 20px;
    margin: -35px 0 20px;
    position: absolute;
    min-width: 20%;
}
.block-item img {
    margin: 10px 20px 10px 0;
}

/*---------------------------------------- content end ----------------------------------------*/

/*---------------------------------------- footer start ----------------------------------------*/

footer {
    font-size: 14px;
    padding-top: 20px;
    background-color: #3d3c42;
    color: #b3b3b4;
    line-height: 2;
    height: 360px;
}
footer a,
footer a:active,
footer a:visited {
    color: #b4c3a8;
}
footer a:hover {
    color: #84a580;
}

.footer_phones {
    padding-top: 10px;
}
.footer_address {
    padding: 15px 0;
}
.footer_title {
    font-weight: bold;
    text-transform: uppercase;
}
.footer_list .main {
    min-width: 260px;
}
.footer_copy {
    margin-top: 20px;
    padding-top: 21px;
    padding-bottom: 20px;
    line-height: 24px;
    color: #89898b;
    text-align: center;
    background-color: #2d2c31;
}
/*---------------------------------------- footer start ----------------------------------------*/
